*{
    margin: 0;
    padding: 0;
}
body{
    background-color: hsl(0, 100%, 74%) ;
    color: white;
    background-image: url(bg-intro-desktop.png);
    align-items: center;
    display: flex;
    justify-content: space-around;
    place-items: center;
    font-family: url(./https://fonts.google.com/specimen/Poppins);
    font-weight: 500;
}

  @media screen and (max-width: 992px) {
    body{
        background-color: red;
        color: white;
    }
}

main{
    display: flex;
    width: 70%;
    margin: auto;
    align-items: center;
}

.btn {
    background-color: rebeccapurple;
    color: rgb(0, 255, 136);
    padding: 10px;
    margin-left: 15px;
    font-size: medium;
    border: none;
    width: 90%;
    border-radius: 10px;
    justify-content: center;

    opacity: 0.9;
  }

  input[type=text], input[type=password], input[type=email] {
    width: 80%;
    padding: 15px; 
    margin: 5px 10px 22px 10px;
    display: inline-block;
    /* border: none; */
    background: #f1f1f1;
      padding: 1em;
      border-radius: 30px;
      border: 1px solid rgb(207, 25, 25);
  }
  .top{
      background-color: hsl(248, 32%, 49%);
      margin: 0%;
      padding: 10px;
      border-radius: 20px;
      text-align: center;
  }
  .page{
    display: grid;
    justify-content: center;
    padding-top: 50px;
    width: 40%;
    margin: 0 auto;
}
h1 p{
    display: flex;
    color: aliceblue;
    margin-top: 80px;
    width: 300px;
    font-family: url(./https://fonts.google.com/specimen/Poppins);
    font-weight: 400;
    Font-size: 16px;
}
.form{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
}
input:invalid {
    background: url(./icon-error.svg) no-repeat 95% 50%;
    background-size: 25px;
    border-color: red;
}